---
layout: default
title: home
---

{% for post in paginator.posts  %}
	
    <article>
    	<header>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		</header>
    	<section class="entry">{{ post.content }} <!-- <a href="{{ post.url }}">Read More</a> -->
		</section>
   		<div class="post-meta">
			<ul>
				<li>{{ post.date | date: "%B %d, %Y" }}</li>
				<!-- <li>By <a href="mailto:{{ post.email }}">{{ post.author }}</a></li> -->
				<!-- <li>Filed under: {% for category in post.categories %}<a href="{{ post.categories }}">{{ category | capitalize }}</a>  {% endfor %}</li>-->
				<!-- <li><a href="{{ post.url }}#disqus_thread"></a></li> -->
			</ul>
		</div>
    </article>

{% endfor %}

<section id="paging">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">&lArr; Previous Page</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">&lArr; Previous Page</a>
    {% endif %}
  {% endif %}

  Page {{ paginator.page }} of {{ paginator.total_pages }}

  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}">Next Page &rArr;</a>
  {% endif %}
</section>

<!-- 
<h2 class="post-pagination">Older posts: 1 | <a href="/index2.html">2</a></h2> -->